<form [formGroup]="shipPlacingForm" (ngSubmit)="submitPlacement()">
  <p>
    <label>{{shipType}} </label>
  </p>

  <label>Column </label>
  <select formControlName="col">
    <option *ngFor="let header of tableHeaders$ | async" [ngValue]="header">{{header}}</option>
  </select>

  <label>Row</label>
  <select formControlName="row">
    <option *ngFor="let rowNumber of rowNumbers" [ngValue]="rowNumber">{{rowNumber}}</option>
  </select>

  <label>Orientation</label>
  <select formControlName="orientation">
    <option>HORIZONTAL</option>
    <option>VERTICAL</option>
  </select>
  <button type="submit" [disabled]="buttonDisabled">Place ship</button>
</form>
